span.sample1 {font-size: 12px; }
span.sample2 {font-size: 12em; }
span.sample3 {font-size: 12ex; }
span.sample4 {font-size: 80%; }
span.sample5 {font-size: 100%; }
span.sample6 {font-size: 120%; }
span.sample7 {font-size: xx-small; }
span.sample8 {font-size: x-small; }
span.sample9 {font-size: small; }
span.sample10 {font-size: medium; }
span.sample11 {font-size: large; }
span.sample12 {font-size: x-large; }
span.sample13 {font-size: xx-large; }