p.sample1 {text-decoration: none;}
p.sample2 {text-decoration: underline;}
p.sample3 {text-decoration: overline;}
p.sample4 {text-decoration: line-through;}
p.sample5 {text-decoration: blink;}
p.sample6 {text-decoration: underline dotted red;}
