p.sample1 {background-color: #f8dce0; padding: 10px;}
p.sample2 {background-color: #f8dce0; margin: 30px; padding: 10px;}
p.sample3 {background-color: #f8dce0; padding: 10px 20px;}
p.sample4 {background-color: #f8dce0; padding: 10px 20px 30px;}
p.sample5 {background-color: #f8dce0; padding: 10px 20px 30px 40px;}