p.sample1 {border-top-style: none;}
p.sample2 {border-top-style: hidden;}
p.sample3 {border-top-style: solid;}
p.sample4 {border-top-style: double;}
p.sample5 {border-top-style: groove;}
p.sample6 {border-top-style: ridge;}
p.sample7 {border-top-style: inset;}
p.sample8 {border-top-style: outset;}
p.sample9 {border-top-style: dashed;}
p.sample10 {border-top-style: dotted;}