p.sample1 {border-bottom-style: none;}
p.sample2 {border-bottom-style: hidden;}
p.sample3 {border-bottom-style: solid;}
p.sample4 {border-bottom-style: double;}
p.sample5 {border-bottom-style: groove;}
p.sample6 {border-bottom-style: ridge;}
p.sample7 {border-bottom-style: inset;}
p.sample8 {border-bottom-style: outset;}
p.sample9 {border-bottom-style: dashed;}
p.sample10 {border-bottom-style: dotted;}