p.sample1 {border-left-style: none;}
p.sample2 {border-left-style: hidden;}
p.sample3 {border-left-style: solid;}
p.sample4 {border-left-style: double;}
p.sample5 {border-left-style: groove;}
p.sample6 {border-left-style: ridge;}
p.sample7 {border-left-style: inset;}
p.sample8 {border-left-style: outset;}
p.sample9 {border-left-style: dashed;}
p.sample10 {border-left-style: dotted;}