div.sample {height:200px;}
img.sample1 {clip:rect(60px,150px,130px,40px); position:absolute;width:100px;height:100px;}
img.sample2 {clip:rect(60px 150px 130px 40px); position:absolute;width:100px;height:100px;}